#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDI_APP_ICON ICON "..\\img\\icon.ico"

1 RT_MANIFEST "app.manifest"
2 RT_MANIFEST "app.manifest"

IDD_ENCODER_CONFIG DIALOGEX 0, 0, 320, 195
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MMDirectEncoder 設定"
FONT 9, "Meiryo UI", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_TAB_MAIN, WC_TABCONTROL, WS_TABSTOP, 7, 7, 306, 158

    LTEXT           "プリセット:", IDC_STATIC_PRESET, 18, 30, 70, 8
    COMBOBOX        IDC_COMBO_PRESET, 95, 28, 206, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "形式 (コーデック):", IDC_STATIC_FORMAT, 18, 50, 70, 8
    COMBOBOX        IDC_COMBO_FORMAT, 95, 48, 206, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    AUTOCHECKBOX    "透過 (アルファ)", IDC_CHECK_ALPHA, 18, 70, 75, 10
    COMBOBOX        IDC_COMBO_ALPHA_FORMAT, 95, 68, 206, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "エンコーダー:", IDC_STATIC_BACKEND, 18, 90, 70, 8
    COMBOBOX        IDC_COMBO_BACKEND, 95, 88, 206, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "品質 (CRF/QP):", IDC_STATIC_QUALITY, 18, 110, 70, 8
    EDITTEXT        IDC_EDIT_CRF, 95, 108, 45, 12, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL         "", IDC_SPIN_CRF, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS, 130, 108, 10, 12

    AUTOCHECKBOX    "音声を含める (AVI音声を自動結合)", IDC_CHECK_AUDIO, 18, 130, 200, 10
    AUTOCHECKBOX    "変換後に MMD の AVI を削除する", IDC_CHECK_DELETE_AVI, 18, 145, 200, 10

    LTEXT           "ビット深度:", IDC_STATIC_BIT_DEPTH, 18, 30, 60, 8
    COMBOBOX        IDC_COMBO_BIT_DEPTH, 95, 28, 52, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "色空間:", IDC_STATIC_COLORSPACE, 152, 30, 50, 8
    COMBOBOX        IDC_COMBO_COLORSPACE, 204, 28, 97, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "クロマサンプリング:", IDC_STATIC_CHROMA, 18, 50, 70, 8
    COMBOBOX        IDC_COMBO_CHROMA, 95, 48, 52, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "出力レンジ:", IDC_STATIC_COLOR_RANGE, 152, 50, 50, 8
    COMBOBOX        IDC_COMBO_COLOR_RANGE, 204, 48, 97, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    AUTOCHECKBOX    "GOP自動", IDC_CHECK_GOP_AUTO, 18, 70, 70, 10
    LTEXT           "GOP/I間隔:", IDC_STATIC_GOP, 95, 70, 50, 8
    EDITTEXT        IDC_EDIT_GOP, 150, 68, 40, 12, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Bフレーム:", IDC_STATIC_BFRAMES, 200, 70, 40, 8
    EDITTEXT        IDC_EDIT_BFRAMES, 245, 68, 30, 12, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP

    LTEXT           "Lookahead:", IDC_STATIC_LOOKAHEAD, 18, 90, 50, 8
    EDITTEXT        IDC_EDIT_LOOKAHEAD, 95, 88, 40, 12, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP

    LTEXT           "表示言語:", IDC_STATIC_LANGUAGE, 18, 30, 70, 8
    COMBOBOX        IDC_COMBO_LANGUAGE, 95, 28, 120, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON      "エンコーダーテスト", IDC_BUTTON_TEST, 7, 172, 75, 14
    PUSHBUTTON      "ログを開く", IDC_BUTTON_OPEN_LOG, 87, 172, 50, 14
    DEFPUSHBUTTON   "OK", IDOK, 207, 172, 50, 14
    PUSHBUTTON      "キャンセル", IDCANCEL, 263, 172, 50, 14
END
